<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='shortcut icon' type='image/x-icon' href='../../../../../resources/static/img/favicon.png'/>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../../../../../resources/static/css/Style1.css">
</head>

<body>

    <div class="header">
        <img src="../../../../../resources/static/img/logo_login.png">
    </div>

    <div class="form">
        <form>
            <label>Login</label>
            <input name="login" placeholder="Your login ...">
            <label>Password</label>
            <input name="password" type="password" placeholder="Your password ...">

            <label for="city">City</label>
            <select id="city" name="city">
                <option value="australia">Miskolc</option>
                <option value="canada">Budapest</option>
                <option value="usa">Cracow</option>
            </select>

            <input id="submit" name="submit" type="submit"  value="Login">
        </form>
    </div>

</body>
</html>