{#<style onload="disableBtn(2)">Din</style>#}
<script>
function disableBtn(id) {
    if (id == 3){
        document.getElementById("addArt").disabled = true
    }
}

function undisableBtn() {
    document.getElementById("myBtn").disabled = false;
}
</script>
<header>
<button onclick="myFunction()">Buy artifact also team</button>
</header>

<p id="demo"></p>


<script>
    function myFunction() {
        document.getElementById("demo").innerHTML = "<div class=\"form-in\">\n" +
            "    <form method=\"POST\">" +
            "       <label> Class Name </label> <br>\n" +
            "        <select  type=\"text\" id=\"class name\" name=\"class name\"><br>\n" +
            "            {% for artifact in artifactModels %}\n" +
            "                <option  type=\"text\" value= {{ artifact.title }}> {{ artifact.title }} </option>\n" +
            "            {% endfor %}\n" +
            "        </select>\n" +
            "        <input id=\"submit\" name=\"submit\" type=\"submit\"  value=\"submit\">\n" +
            "    </form>" +
            "</div>";
    }
</script>
{#<div id="buttonAddArtifact">#}
    {#<button id="addArt">Buy artifact also team</button>#}
    {#<br><br>#}
{#</div>#}