<dl id="menu0">
    <dt>
        <a href="/student">
            <i class="fa fa-home" aria-hidden="true"></i>
        </a>
    </dt>
</dl>

<dl id="menu1">
    <dt>Mentor</dt>
    <dd><a href="/admin/show_mentors">Show mentors list</a></dd>
    <dd><a href="/admin/add_mentor">Add new mentor</a></dd>
    <dd><a href="admin_remove_mentor.html">Remove mentor</a></dd>
</dl>
<dl id="menu2">
    <dt>Team</dt>
    <dd><a href="/student/team_shop">Team Shop</a></dd>
</dl>
<dl id="menu3">
    <dt>Level</dt>
    <dd><a href="/admin/show_levels">Show levels list</a></dd>
    <dd><a href="/admin/add_level">Create new level</a></dd>
    <dd><a href="admin_remove_level.html">Remove level</a></dd>
</dl>
<dl id="logout">
    <dt>
        <a href="/student/logout">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
        </a>
    </dt>
</dl>