<div class="container">
    <div class="globalTable">
        <table class="localTable" id="table" border="1">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Used</th>
                </tr>
            </thead>
            <tbody>
                {% for artifact in artifactsModels %}
                    <tr>
                        <td>{{ artifact.title }}</td>
                        <td>{{ artifact.category }}</td>
                        <td>
                            {% if artifact.isUsed == 0 %}
                                NO
                            {% else %}
                                YES
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% if artifactsModels.size() == 0 %}
    <a class="emptyList">Empty list</a>
    {% else %}
    <div class="submitTable">
        <a>Your coins:</a>
        <br><br>
        <a>{{ coolCoins }}</a>
    </div>
    {% endif %}
</div>






