<div class="container">
    <div class="globalTable">
        <table class="localTable" id="table" border="1">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
            {% for quest in questsModels %}
                <tr>
                    <td>{{ quest.title }}</td>
                    <td>{{ quest.category }}</td>
                    <td>{{ quest.price }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% if questsModels.size() == 0 %}
        <a class="emptyList">Empty list</a>
    {% endif %}
</div>



