<div class="buy_artifact_container">
    <div class="tab tab-1">
        <table class="buy_artifact_Table" id="table" border="1">
            <thead>
                <tr>
                    {#<th>No.</th>#}
                    <th>Title</th>
                    <th>Category</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for artifact in artifactsModels %}
                    <tr>
                        {#<td>{{ loop.index }}</td>#}
                        <td>{{ artifact.title }}</td>
                        <td>{{ artifact.category }}</td>
                        <td>{{ artifact.price }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="tab tab-2">
        <form method="POST" onsubmit="return confirm('Are you sure you want to submit this form?');">
            Title :<input type="text" name="title" id="title" required>
            Category :<input type="text" name="category" id="category" required>
            Price :<input type="number" name="price" id="price" required>

            <input id="submit" name="button" type="submit"  value="Buy">
        </form>
    </div>
</div>


<style>

    div.buy_artifact_container {
        display: flex;
        justify-content: center;
        margin-top: 20%;
        transform: scale(1.2, 1.2);

    }

    .tab{float: left;}
    .tab-2 input{display: block;margin-bottom: 10px}



    table.buy_artifact_Table {
        font-family: Arial, Helvetica, sans-serif;
        border: 2px solid #1C6EA4;
        width: 180%;
        text-align: center;
        margin-left: 15%;
    }

    .tab-2 {
        font-family: Arial, Helvetica, sans-serif;
        border: 2px solid #1C6EA4;
        width: 14.5%;
        text-align: center;
        margin-left: 30%;
    }


    table.buy_artifact_Table td, table.buy_artifact_Table th, .tab-2 {
        border: 1px solid #AAAAAA;
        padding: 3px 3px;
    }
    table.buy_artifact_Table tbody tr {
        transition:all .25s ease-in-out;
        background: #a4ffff;
    }
    table.buy_artifact_Table tr:nth-child(even) {
        background: #6fb79c;
    }
    table.buy_artifact_Table thead, .tab-2 {
        background: #1C6EA4;
        background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
        background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
        background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
        border-bottom: 2px solid #444444;
    }
    table.buy_artifact_Table thead th, .tab-2 {
        font-size: 18px;
        font-weight: bold;
        color: #FFFFFF;
        text-align: center;
    }
    table.buy_artifact_Table thead th:first-child {
        border-left: none;
    }

    table.buy_artifact_Table tbody tr:hover {
        background-color: #3f47ff; cursor: pointer
    }

</style>


<script type="text/javascript">

    var rIndex,
        table = document.getElementById("table");

    // display selected row data into input text
    function selectedRowToInput()
    {

        for(var i = 1; i < table.rows.length; i++)
        {
            table.rows[i].onclick = function()
            {
                // get the selected row index
                rIndex = this.rowIndex;
                document.getElementById("title").value = this.cells[0].innerText;
                document.getElementById("category").value = this.cells[1].innerText;
                document.getElementById("price").value = this.cells[2].innerHTML;
            };
        }
    }
    selectedRowToInput();

</script>

<script>
    function submit() {
        return confirm('Do you really want to submit the form?');
    }
</script>


