<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add class</title>
    {{ redirect }}
</head>
<body>

<a href="/students/add">ADD</a>
<form method="POST">
    First name:<br>
    <input type="text" name="className"><br>

    <input type="submit" value="Submit">
</form>
</body>
</html>