<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Class</title>
</head>
<body>
<h1>sdada</h1>
<table>
     <a href="/students/add">ADD</a>
    {% for class in classModels %}
        <tr>
            <td>{{ class.className }}</td>

        </tr>
        <br><br>
    {% endfor %}
</table>
</body>
</html>