<header>Add new level</header>
<div class="form-in">
    <form method="POST">
        <label>Level Name </label><br>
        <input type="text" name="levelName" placeholder="enter level name..." required> <br>
        <label>Expected Required </label><br>
        <input type="text" name="expRequired" placeholder="enter expected required..." required> <br>
        <input type="submit" value="Submit">
    </form>
</div>