<div class="container">
    <div class="globalTable">
        <table class="localTable" id="table" border="1">
            <thead>
            <tr>
                <th>No.</th>
                <th>Class name</th>
            </tr>
            </thead>
            <tbody>
            {% for class in classModels %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ class.className }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="submitTable">
        <form method="POST" onsubmit="return confirm('Are you sure you want to submit this form?');">
            Class name:<input type="text" name="className" id="className" required><br>
            <input class="markSubmit" id="submit" name="button" type="submit"  value="Add">
            <input class="markSubmit" id="submit" name="button" type="submit"  value="Remove">
        </form>
    </div>
</div>

<script type="text/javascript">

    var rIndex,
        table = document.getElementById("table");

    // display selected row data into input text
    function selectedRowToInput()
    {

        for(var i = 1; i < table.rows.length; i++)
        {
            table.rows[i].onclick = function()
            {
                // get the selected row index
                rIndex = this.rowIndex;
                document.getElementById("className").value = this.cells[1].innerText;

                // remove the background from the previous selected row
                if(typeof index !== "undefined"){
                    table.rows[index].classList.toggle("selected");
                }
                console.log(typeof index);
                // get the selected row index
                index = this.rowIndex;
                // add class selected to the row
                this.classList.toggle("selected");
                console.log(typeof index);
            };
        }
    }
    selectedRowToInput();

</script>