<dl id="menu0">
    <dt>
        <a href="/admin">
            <i class="fa fa-home" aria-hidden="true"></i>
        </a>
    </dt>
</dl>

<dl id="menu1">
    <dt><a href="/admin/manage_mentor">Mentor</a></dt>
</dl>
<dl id="menu2">
    <dt><a href="/admin/manage_classes">Classes</a></dt>
</dl>
<dl id="menu3">
    <dt>Level</dt>
    <dd><a href="/admin/show_levels">Show levels list</a></dd>
    <dd><a href="/admin/add_level">Create new level</a></dd>
    <dd><a href="admin_remove_level.html">Remove level</a></dd>
</dl>
<dl id="logout">
    <dt>
        <a href="/admin/logout">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
        </a>
    </dt>
</dl>

<script type="text/javascript">
    // <![CDATA[
    new Menu('menu0', 'position: absolute', true, true, 50, 50, 0, 250);
    new Menu('menu1', 'position: absolute', true, true, 50, 50, 0, 250);
    new Menu('menu2', 'position: absolute', true, true, 50, 50, 0, 250);
    new Menu('menu3', 'position: absolute', true, true, 50, 50, 0, 250);
    new Menu('logout', 'position: absolute', true, true, 50, 50, 0, 250);
    // ]]>
</script>