<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='shortcut icon' type='image/x-icon' href='../../img/favicon.png'/>
    <meta charset="UTF-8">
    <title>Student show quest</title>
    <link rel="stylesheet" href="../../css/Style1.css">
    <script type="text/javascript" src="../../js/menu.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Roboto:400|Roboto+Condensed:400|Fjalla+One:400'>
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="../../css/calendar.css">
</head>
<body>

<div class="top-menu-bar">
    <div class="banner">
        <img src="../../img/banner_admin.png">
    </div>
    <dl id="menu0">
        <dt>
            <a href=student_home.html>
                <i class="fa fa-home" aria-hidden="true"></i>
            </a>
        </dt>
    </dl>
    <dl id="menu1">
        <dt>Quest</dt>
        <dd><a href=student_show_quest.html>Show quests list</a></dd>
        <dd><a href=student_do_quest.html>Do quest</a></dd>
    </dl>
    <dl id="menu2">
        <dt>Artifacts</dt>
        <dd><a href="student_show_artifact.html">Show artifacts list</a></dd>
        <dd><a href="student_buy_artifact.html">Buy artifact</a></dd>
        <dd><a href="student_buy_artifact_team.html">Buy artifact in team</a></dd>
        <dd><a href="student_use_artifact.html">Use artifact</a></dd>
    </dl>
    <dl id="menu3">
        <dt><a href="student_show_wallet.html">Wallet</a></dt>
    </dl>
    <dl id="menu4">
        <dt><a href="student_show_level.html">Level</a></dt>
    </dl>
    <dl id="logout">
        <dt>
            <a href=../login_page.html>
                <i class="fa fa-sign-out" aria-hidden="true"></i>
            </a>
        </dt>
    </dl>
</div>

<script type="text/javascript">
    // <![CDATA[
    new Menu('menu0', 'position: absolute', true, true, 50, 50, 0, 250);
    new Menu('menu1', 'position: absolute', true, true, 50, 50, 0, 250);
    new Menu('menu2', 'position: absolute', true, true, 50, 50, 0, 250);
    new Menu('menu3', 'position: absolute', true, true, 50, 50, 0, 250);
    new Menu('menu4', 'position: absolute', true, true, 50, 50, 0, 250);
    new Menu('logout', 'position: absolute', true, true, 50, 50, 0, 250);
    // ]]>
</script>

<!-- Sidebar -->
<div class="left">
    <div class="user_photo">
        <img border="0" alt="logout" src="../../img/pietrek.jpg" width=100%>
    </div>

    <div class="calendar-wrapper">
        <button id="btnPrev" type="button">Prev</button>
        <button id="btnNext" type="button">Next</button>
        <div id="divCal"></div>
    </div>
</div>

<!-- Main content -->
<div class="main">
    <div class="table">
        <table class="tg">
            <div class="text">Quests list</div>
            <tr>
                <th class="tg-gkax">No.</th>
                <th class="tg-gkax">Title</th>
                <th class="tg-gkax">Price</th>
                <th class="tg-gkax">Category</th>
            </tr>
            <tr>
                <td class="tg-gkax">1.</td>
                <td class="tg-gkax">Checkpoint</td>
                <td class="tg-gkax">500</td>
                <td class="tg-gkax">Learning</td>
            </tr>
            <tr>
                <td class="tg-gkax">2.</td>
                <td class="tg-gkax">Help with events</td>
                <td class="tg-gkax">150</td>
                <td class="tg-gkax">Volunteering</td>
            <tr>
                <td class="tg-gkax">3.</td>
                <td class="tg-gkax">Run with Codecooler</td>
                <td class="tg-gkax">250</td>
                <td class="tg-gkax">Sport</td>
            </tr>
            </tr>
        </table>
    </div>
</div>

<div class="footer">
    © 2017 Codecool. All rights reserved. <br>
    <a href=authors_student.html> About authors ツ </a>
</div>

<script src="../../js/calendar.js"></script>

</body>
</html>
