 <div class="home_img">
        <div class="autumn-welcome">
            <p>AUTHORS</p>
        </div>
        <br>
        <img border="0" alt="home_img" src="../../img/dream_team.png" width=40%>
 </div>
