<header>Add new student</header>
<div class="form-in">
    <form>
        <label> Name </label>
        <input name="name" placeholder="enter name...">

        <label> Surname </label>
        <input name="surname" placeholder="enter surname...">

        <label> Email </label>
        <input name="email" placeholder="enter email...">

        <label> Login </label>
        <input name="login" placeholder="enter login...">

        <label> Password </label>
        <input name="password" placeholder="enter password...">

        <label for="class name"> Class name </label>
        <select id="class name" name="class name">
            <option value="australia">Miskolc 2017.1</option>
            <option value="canada">Budapest 2017.1</option>
            <option value="usa">Cracow 2017.1</option>
        </select>

        <input id="submit" name="submit" type="submit"  value="Create">
    </form>
</div>