<header>Add new quest</header>
<div class="form-in">
    <form>
        <label>Quest name</label>
        <input name="name" placeholder="artifact name...">

        <label> Price </label>
        <input name="price" placeholder="price...">

        <label> Category </label>
        <input name="category" placeholder="category...">

        <input id="submit" name="submit" type="submit"  value="Add">
    </form>
</div>