<div class="table">
    <table class="tg">
        <div class="text">Quests list</div>
        <td class="tg-gkax">Nr.</td>
        <td class="tg-gkax">Title</td>
        <td class="tg-gkax">Price</td>
        <td class="tg-gkax">Quest category</td>
        {% for quest in questModels %}
        <tr>
            <td class="tg-gkax">{{ loop.index }}</td>
            <td class="tg-gkax">{{ quest.title }}</td>
            <td class="tg-gkax">{{ quest.price }}</td>
            <td class="tg-gkax">{{ quest.category }}</td>
            {% endfor %}
    </table>
</div>