<div class="table">
    <table class="tg">
        <div class="text">Artifacts list</div>
        <td class="tg-gkax">Nr.</td>
        <td class="tg-gkax">Title</td>
        <td class="tg-gkax">Price</td>
        <td class="tg-gkax">Artifact category</td>
        {% for artifact in artifactModels %}
            <tr>
                <td class="tg-gkax">{{ loop.index }}</td>
                <td class="tg-gkax">{{ artifact.title }}</td>
                <td class="tg-gkax">{{ artifact.price }}</td>
                <td class="tg-gkax">{{ artifact.artifactCategory.getName }}</td>
        {% endfor %}
    </table>
</div>