<dl id="menu0">
    <dt>
        <a href=mentor_home.html>
            <i class="fa fa-home" aria-hidden="true"></i>
        </a>
    </dt>
</dl>
<dl id="menu1">
    <dt>Student</dt>
    <dd><a href="/mentor/manage_students">Manage students</a></dd>
    <dd><a href="/mentor/create_team">Create Team</a></dd>
    <dd><a href="/mentor/show_student_wallets">Show student wallet</a></dd>
</dl>
<dl id="menu2">
    <dt>Quest</dt>
    <dd><a href="/mentor/manage_quests">Manage quests</a></dd>
    <dd><a href="/mentor/mark_quest">Mark quest</a></dd>
</dl>
<dl id="menu3">
    <dt>Artifact</dt>
    <dd><a href="/mentor/manage_artifacts">Manage artifacts</a></dd>
    <dd><a href="/mentor/mark_artifact">Mark artifact</a></dd>
</dl>
<dl id="logout">
    <dt>
        <a href="mentor/logout">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
        </a>
    </dt>
</dl>

<script type="text/javascript">
    // <![CDATA[
    new Menu('menu0', 'position: absolute', true, true, 50, 50, 0, 250);
    new Menu('menu1', 'position: absolute', true, true, 50, 50, 0, 250);
    new Menu('menu2', 'position: absolute', true, true, 50, 50, 0, 250);
    new Menu('menu3', 'position: absolute', true, true, 50, 50, 0, 250);
    new Menu('logout', 'position: absolute', true, true, 50, 50, 0, 250);
    // ]]>
</script>