<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Add Class</title>
    <link rel="stylesheet" href="/static/css/Style1.css">
    <script type="text/javascript" src="/static/js/menu.js"></script>
    <link rel='shortcut icon' type='image/x-icon' href='/static/img/favicon.png'/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Roboto:400|Roboto+Condensed:400|Fjalla+One:400'>
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="/static/css/calendar.css">
    {{ redirect }}
</head>
<body>

<div class="top-menu-bar">
    <div class="banner">
        <img src="/static/img/banner_admin.png">
    </div>

    <dl id="menu0">
        <dt>
            <a href=admin_home.html>
                <i class="fa fa-home" aria-hidden="true"></i>
            </a>
        </dt>
    </dl>

    <dl id="menu1">
        <dt>Mentor</dt>
        <dd><a href="/admin/show_mentors">Show mentors list</a></dd>
        <dd><a href="admin_add_mentor.html">Add new mentor</a></dd>
        <dd><a href="admin_remove_mentor.html">Remove mentor</a></dd>
    </dl>
    <dl id="menu2">
        <dt>Class</dt>
        <dd><a href="/admin/show_classes">Show classes list</a></dd>
        <dd><a href="/admin/add_class">Add new class</a></dd>
        <dd><a href="admin_remove_class.html">Remove class</a></dd>
    </dl>
    <dl id="menu3">
        <dt>Level</dt>
        <dd><a href="admin_show_levels.html">Show levels list</a></dd>
        <dd><a href="admin_create_level.html">Create new level</a></dd>
        <dd><a href="admin_remove_level.html">Remove level</a></dd>
    </dl>
    <dl id="logout">
        <dt>
            <a href=../login_page.html>
                <i class="fa fa-sign-out" aria-hidden="true"></i>
            </a>
        </dt>
    </dl>
</div>


<script type="text/javascript">
        // <![CDATA[
        new Menu('menu0', 'position: absolute', true, true, 50, 50, 0, 250);
        new Menu('menu1', 'position: absolute', true, true, 50, 50, 0, 250);
        new Menu('menu2', 'position: absolute', true, true, 50, 50, 0, 250);
        new Menu('menu3', 'position: absolute', true, true, 50, 50, 0, 250);
        new Menu('logout', 'position: absolute', true, true, 50, 50, 0, 250);
        // ]]>
    </script>

    <!-- Sidebar -->
    <div class="left">
        <div class="user_photo">
            <img border="0" alt="logout" src="/static/img/rafon.jpg" width=100%>
        </div>

        <div class="calendar-wrapper">
            <button id="btnPrev" type="button">Prev</button>
            <button id="btnNext" type="button">Next</button>
            <div id="divCal"></div>
        </div>
    </div>

    <!-- Main content -->
    <div class="main">

        <header>Add new class</header>
        <div class="form-in">


            <form method="POST">
                <label>Class Name </label><br>
                <input type="text" name="className" placeholder="enter class name..." required> <br>

                <input type="submit" value="Submit">
            </form>
        </div>
    </div>

    <div class="footer">
        ? 2017 Codecool. All rights reserved. <br>
        <a href=authors_admin.html> About authors ? </a>
    </div>

    <script src="/static/js/calendar.js"></script>
</body>
</html>